@import "_style.scss";
#nav {
    position: fixed;
    bottom: 10px;
    margin: 0;
    width: 100%;
    height: 8vh;
    // background-color: $light_blue;
    @media (max-width: 1140px) {
      bottom: unset;
      height: 15vh;
    }
    @media (max-width: 576px) {
      position: absolute;
      top: 30px;
      right: 30px;
      z-index: 2;
      display: flex;
      margin: 0;
      width: 80%;
      height: unset;
      background-color: rgba(255,255,255,0.8);
      border-radius: 5px;
    }
  
    .fa-bars {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      color: $light_grey;
      transition: 0.4s;
      font-size: 50px;
      @media (max-width: 576px) {
        display: block;
      }
  
      &:hover {
        color: $grey;
      }
    }
  
    ul {
      display: flex;
      justify-content: flex-end;
      margin: 0;
      margin-right: 50px;
      @media (max-width: 768px) {
        justify-content: center;
        margin-right: 0px;
      }
      @media (max-width: 576px) {
        display: none;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 25px;
        padding-left: 0;
  
        &.active {
          display: block;
        }
      }
  
      li {
        position: relative;
        margin-top: 30px;
        margin-right: 20px;
        list-style: none;
        font-weight: 500;
  
        @media (max-width: 768px) {
          margin-right: 5px;
        }
        @media (max-width: 576px) {
          color: $white;
          position: relative;
          text-align: center;
  
          &:hover {
            color: $black;
          }
        }
  
        a {
          text-decoration: none;
          color: $grey;
          font-size: 16px;
          @media (max-width: 860px) {
            font-size: 16px;
          }
          @media (max-width: 768px) {
            font-size: 14px;
          }
          @media (max-width: 576px) {
            font-size: 22px;
          }
  
          &:hover {
            color: $dark_blue;
          }
          .bubble {
            position: absolute;
            top: -60px;
            z-index: 3;
            display: none;
  
            @media (max-width: 576px) {
              width: 80px;
              height: 80px;
              top: -60px;
              left: 192px;
            }
          }
  
          &:hover .bubble {
            display: block;
          }
        }
      }
    }
  }

#logo{
    position: absolute;
    top: 35px;
    left: 60px;
    width: 70px;
    height: 70px;
    a{
        img{
            width: 100%;
        }
    }
}