* {
  font-family: source-han-sans-traditional, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  cursor: url(./mouse.png), crosshair;
  overflow: hidden;
}

body {
  background: linear-gradient(20deg, white 0%, #147eb8 95%);
  background-size: 100% 300%;
  width: 100%;
  height: 1000px;
  -webkit-animation: daylight 3s linear alternate infinite;
          animation: daylight 3s linear alternate infinite;
  -webkit-transition-duration: 10s;
          transition-duration: 10s;
}

@-webkit-keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}

@keyframes daylight {
  0% {
    background-position: 100% 30%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.title {
  font-size: 30px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 80px;
  font-weight: 530;
}

.left {
  position: absolute;
  top: 20%;
  left: 10%;
  width: 35%;
}

.left .floor_f {
  width: 100%;
}

.left .floors {
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.left .floors .img {
  padding: 10px 15px;
  cursor: pointer;
}

.guided {
  position: absolute;
  width: 30%;
  left: 55%;
  top: 20%;
  cursor: pointer;
}

.guided .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guided .swiper-slide h3 {
  margin: 10px;
  font-size: 24px;
}

.guided .swiper-slide img {
  width: 100%;
}

.guided .swiper-slide h4 {
  margin-bottom: -10px;
  padding-top: 10px;
  font-size: 18px;
}

.guided .swiper-slide p {
  margin: 0;
  padding: 20px;
  letter-spacing: 1px;
  font-size: 16px;
}

.child {
  position: absolute;
  bottom: -70px;
  width: 300px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 50;
}

.child .head {
  width: 100%;
}

.child .eye_l {
  position: absolute;
  width: 30px;
  left: 34%;
  top: 52%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.child .eye_r {
  position: absolute;
  width: 30px;
  left: 57%;
  top: 53%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mouse {
  width: 40px;
  position: absolute;
  pointer-events: none;
  z-index: 200;
}

@media screen and (max-width: 576px) {
  .left {
    position: absolute;
    top: 15%;
    width: 90%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .guided {
    width: 80%;
    position: absolute;
    top: 52%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 90%;
  }
  .child {
    display: none;
  }
}
/*# sourceMappingURL=tour_F.css.map */