$title: 36px;
$sub_title: 26px;
$second_title: 24px;
$font_size: 18px;
$ling_high: 1.5;
// color
$light_blue: #bfdedc;
$dark_blue: #036eb8;
$blue: #01a0e9;
$black: black;
$grey: #4d4d4d;
$light_grey: #666666;
$white: white;
@mixin shadow() {
  -webkit-box-shadow: 6px 7px 28px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 28px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 7px 28px -5px rgba(0, 0, 0, 0.75);
}

// font_size
$title: 30px;

//
* {
  box-sizing: border-box;
}
li {
  list-style: none;
  padding-left: 0;
}
body {
  margin: 0;
  background-color: $light_blue;
}
.container {
  width: 1140px;
  height: 100%;
  margin: auto;
}
.content {
  width: 50%;
}
.pfmitem {
  width: 50%;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.mt_mb {
  margin: 50px 0 50px 0;
}
.padding-left {
  padding-left: 20px;
}

h1 {
  font-size: 30px;
  text-align: center;
  margin: 100px 0 40px 0;
  font-weight: 900;
}
.pfmitem {
  background-color: #f6f6f6;
  width: 100%;
  height: 100%;
}
.content {
  width: 100%;
}
.content_text {
  padding: 10px;
  font-size: $font_size;
  line-height: $ling_high;
}
#logo {
  position: absolute;
  top: 35px;
  left: 60px;

  width: 70px;
  height: 70px;

  img {
    width: 100%;
  }
}
.form-control {
  width: 50%;
}
#nav {
  position: fixed;
  bottom: 50px;
  margin: 0;
  width: 100%;
  @media (max-width: 576px) {
    position: absolute;
    top: 30px;
    bottom: unset;
    right: 30px;
    z-index: 2;
    display: flex;
    margin: 0;
    width: 50%;
    height: unset;
    background-color: rgba($white, .9);                                                  ;
    border-radius: 5px;
  }

  .fa-bars {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: $light_grey;
    transition: 0.4s;
    font-size: 50px;
    @media (max-width: 576px) {
      display: block;
    }

    &:hover {
      color: $grey;
    }
  }

  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-right: 50px;
    @media (max-width: 768px) {
      justify-content: center;
      margin-right: 0px;
    }
    @media (max-width: 576px) {
      display: none;
      width: 100%;
      margin-top: 10px;
      padding-bottom: 30px;
      padding-left: 0;

      &.active {
        display: block;
      }
    }

    li {
      position: relative;
      margin-top: 30px;
      margin-right: 20px;
      list-style: none;
      font-weight: 500;

      @media (max-width: 768px) {
        margin-right: 5px;
      }
      @media (max-width: 576px) {
        color: $white;
        position: relative;
        text-align: center;

        &:hover {
          color: $black;
        }
      }

      a {
        text-decoration: none;
        color: $grey;
        font-size: 16px;
        font-weight: 700;

        @media (max-width: 860px) {
          font-size: 16px;
        }
        @media (max-width: 768px) {
          font-size: 14px;
        }
        @media (max-width: 576px) {
          font-size: 18px;
        }

        &:hover {
          color: $dark_blue;
        }
        .bubble {
          position: absolute;
          top: -50px;
          right: -25px;
          z-index: 3;
          display: none;
          width: 50px;
          height: 50px;
          @media (max-width: 576px) {
            top: -45px;
            left: 150px;
          }
        }

        &:hover .bubble {
          display: block;
        }
      }
    }
  }
}



.tab {
  padding: 20px;
}
// 加減

.cart_btn {
  display: inline-block;
  width: 25px;
  height: 25px;
  color: #26bec9;
  text-align: center;
  line-height: 20px;
  margin-right: 5px;
  border: 1px solid #26bec9;
  border-radius: 50%;
}
// 選擇日期、場次 start
.ticket {
  width: 100%;
  height: 100%;
}
.ticket span {
  font-weight: 500;
}
.men {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.child {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.oldmen {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.student {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// 選擇日期、場次 end
.pfmcontainer {
  cursor: pointer;
  padding-right: 10px;
}
.tabpanel {
  padding-left: 10px;
}
.form-group {
  position: relative;
}
.credit {
  position: absolute;
  transform: translate(30%, -75%);
}
.ccn {
  display: flex;
  flex-direction: column;
}
// 付款明細
.pay {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}
.pay_img {
  padding: 5px;
}
.pay_img img {
  width: 150px;
  height: 150px;
}
.pay_title {
  font-size: $font_size;
  font-weight: 900;
  padding: 5px 0 5px 0;
}
.pay_icon {
  font-weight: normal;
}
.pay_btn{
  padding-bottom: 20px;
}
.count {
  display: flex;
  justify-content: flex-start;
}
.total {
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.allTotal {
  display: flex;
  justify-content: flex-end;
}
.pay_btn {
  display: flex;
  justify-content: flex-end;
}
.payMoney {
  background-color: rgb(38, 190, 201);
  border: 0;
  padding: 10px;
  cursor: pointer;
}
.age {
  font-size: 16px;
  color: #aaaaaa;
}
#demo2{
  background: rgb(38, 190, 201);
  color: white;
}
@media (max-width: 1140px) {
  .container {
    width: 100%;
    flex-wrap: wrap;
  }
  .inp {
    width: 50px;
    height: 25px;
    text-align: center;
  }
 
}
